<div class="row">
    <div>
        <h4>Add Post</h4>
        <hr>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="user.name" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" [(ngModel)]="user.age" class="form-control" id="age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" [(ngModel)]="user.gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>
    <div class="col-12 form-footer">
        <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
        <button type="button" class="btn btn-secondary ml-2">Cancel</button>
    </div>
</div>