* {
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form-footer {
    margin-top: 10px !important;
    display: flex;
    justify-content: flex-end;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.pointer {
    cursor: pointer;
}

.float-right {
    text-align: right;
}